@mixin clearfix {
    &::after {
        // content 必须指定，否则伪元素不会生效；设为空是因为不需要显示在界面上
        content: "";
        display: table;
        clear: both;
    }
}

// media query manager
/*

0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800px] is where the normal styes apply
1800px + : Big desktop

*/


// @mixin respond($breakpoint) {
    // @media #{$breakpoint} { @content };
    // @media (max-width: $breakpoint) { @content };
// } 


@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5rem) { @content };     // 600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     // 900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    // 1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    // 1800px
    }
}